{% extends 'base.html' %}

{% block title %}Here's your results!{% endblock %}

{% block content %}
<div class="container pt-5">
    <h1 class="text-center mb-5">Blood check report for {{ report_date }}</h1>
    <div class="row justify-content-center">
        {% for image_path, label in images_and_labels %}
        <div class="col-md-3">
            <div class="card p-3 m-3">
                <img src="{{ image_path }}" class="card-img-top rounded" alt="Blood Image">
                <div class="card-body">
                    <ul class="list-unstyled m-0">
                        {% for category, amount in label.items %}
                        <li>{{ category|upper }}: {{ amount }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
    </div>
    <div class="row justify-content-center">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}