{% extends 'base.html' %}

{% block title %}Process your photos!{% endblock %}

{% block content %}
	<div class="container d-flex flex-column">
	
		<form method="POST" enctype="multipart/form-data" class="container d-flex flex-column mt-5">
			<h1>Blood cells check</h1>
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-info mt-2">Отправить на проверку</button>
		</form>
	</div>
{% endblock %}