<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	{% load bootstrap5 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
</head>
<body>

<div class="nav bg-info d-flex align-items-center">
	<div style="position: absolute;left: 1.5em">
		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_1315_1656)">
				<path fill-rule="evenodd" clip-rule="evenodd"
					  d="M8.25 0C8.44891 0 8.63968 0.0790176 8.78033 0.21967C8.92098 0.360322 9 0.551088 9 0.75V6.75C9 7.34674 8.76295 7.91903 8.34099 8.34099C7.91903 8.76295 7.34674 9 6.75 9H0.75C0.551088 9 0.360322 8.92098 0.21967 8.78033C0.0790176 8.63968 0 8.44891 0 8.25C0 8.05109 0.0790176 7.86032 0.21967 7.71967C0.360322 7.57902 0.551088 7.5 0.75 7.5H6.75C6.94891 7.5 7.13968 7.42098 7.28033 7.28033C7.42098 7.13968 7.5 6.94891 7.5 6.75V0.75C7.5 0.551088 7.57902 0.360322 7.71967 0.21967C7.86032 0.0790176 8.05109 0 8.25 0V0ZM15.75 0C15.9489 0 16.1397 0.0790176 16.2803 0.21967C16.421 0.360322 16.5 0.551088 16.5 0.75V6.75C16.5 6.94891 16.579 7.13968 16.7197 7.28033C16.8603 7.42098 17.0511 7.5 17.25 7.5H23.25C23.4489 7.5 23.6397 7.57902 23.7803 7.71967C23.921 7.86032 24 8.05109 24 8.25C24 8.44891 23.921 8.63968 23.7803 8.78033C23.6397 8.92098 23.4489 9 23.25 9H17.25C16.6533 9 16.081 8.76295 15.659 8.34099C15.2371 7.91903 15 7.34674 15 6.75V0.75C15 0.551088 15.079 0.360322 15.2197 0.21967C15.3603 0.0790176 15.5511 0 15.75 0V0ZM0 15.75C0 15.5511 0.0790176 15.3603 0.21967 15.2197C0.360322 15.079 0.551088 15 0.75 15H6.75C7.34674 15 7.91903 15.2371 8.34099 15.659C8.76295 16.081 9 16.6533 9 17.25V23.25C9 23.4489 8.92098 23.6397 8.78033 23.7803C8.63968 23.921 8.44891 24 8.25 24C8.05109 24 7.86032 23.921 7.71967 23.7803C7.57902 23.6397 7.5 23.4489 7.5 23.25V17.25C7.5 17.0511 7.42098 16.8603 7.28033 16.7197C7.13968 16.579 6.94891 16.5 6.75 16.5H0.75C0.551088 16.5 0.360322 16.421 0.21967 16.2803C0.0790176 16.1397 0 15.9489 0 15.75ZM15 17.25C15 16.6533 15.2371 16.081 15.659 15.659C16.081 15.2371 16.6533 15 17.25 15H23.25C23.4489 15 23.6397 15.079 23.7803 15.2197C23.921 15.3603 24 15.5511 24 15.75C24 15.9489 23.921 16.1397 23.7803 16.2803C23.6397 16.421 23.4489 16.5 23.25 16.5H17.25C17.0511 16.5 16.8603 16.579 16.7197 16.7197C16.579 16.8603 16.5 17.0511 16.5 17.25V23.25C16.5 23.4489 16.421 23.6397 16.2803 23.7803C16.1397 23.921 15.9489 24 15.75 24C15.5511 24 15.3603 23.921 15.2197 23.7803C15.079 23.6397 15 23.4489 15 23.25V17.25Z"
					  fill="red"></path>
			</g>
			<defs>
				<clipPath id="clip0_1315_1656">
					<rect width="24" height="24" fill="white"></rect>
				</clipPath>
			</defs>
		</svg>

	</div>
	<div class="container">
		<ul class="nav">
			<li class="nav-item">
				<span class="nav-link link-light fs-5"> Medicine center </span>
			</li>
			<li class="nav-item d-flex align-items-center">
				<a class="nav-link link-light" href="/send_photos">Check blood cells</a>
			</li>
		</ul>
	</div>
</div>
{% block content %}
{% endblock %}

</body>
</html>